# Backend
backend/inventory-system/inventory-system/target/
*.class
*.jar
*.war
*.exe
*.msi

# Frontend
backend/inventory-system/inventory-system/warehouse-frontend/node_modules/
backend/inventory-system/inventory-system/warehouse-frontend/dist/
backend/inventory-system/inventory-system/warehouse-frontend/.angular/

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Empty folders
frontend/